<script type="text/javascript">
var sc=screen.width;
document.cookie="screen="+sc;
function unreg()
{
	location.href="template/t01/login1.php";
}
function oooii()
{
	window.location.href="template/03/excel.php";
}
</script>
<script language="JavaScript" src="./css/mydate.js"></script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<?php
//2017-1-1添加session的状态判断,避免log中的错误提示
if(session_status() != PHP_SESSION_ACTIVE)
	session_start();
if(!defined("FULL_PATH"))
{
	$s1=dirname(__FILE__);
	$s2=strstr($s1,"php_hl");
	$i=strlen($s1)-strlen($s2);
	$s2=substr($s1,0,$i)."php_hl/";
	define("FULL_PATH",$s2);
}
$str="<link href='css/base.css' rel='stylesheet' type='text/css' media='all'/>";
echo $str;
global $tybitsfox;
$str="<title>".$tybitsfox['title']."</title>";
echo $str;
?>
<!-- <link href="css/base.css" rel="stylesheet" type="text/css" media="all" /> 
<title>aaaa</title>  -->
</head>
<body>
<div id="container_id">
    <div id="header_id"></div>
    <div id="menu_id">
    <ul>
<?php
    $cnt=count($menuitem);
    for($i=0;$i<$cnt;$i++)
    {
        echo "<li><a href='".$menulnk[$i]."'>".$menuitem[$i]."</a><li><li class='menudiv_class'></li>";
    }
	$st="<li>&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>欢迎 </font>[ <a href='javascript:void(0)' onclick ='unreg()' />";
	$st.=$_SESSION['user']."</a> ]</li><li class='menudiv_class'></li>";
	echo $st;
?>
    </ul></div><div id="clear_id"></div>
<!--	<div id="left_id" class="shadow_class">明晰操作栏</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<br><br><center>这里是<font color=red>主页</font>，请选择你要进行的操作</center>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
	</div>
</div></body></html>	
<script type="text/javascript">
var width = window.screen.width;
document.cookie="screen="+width;
</script>
-->
