	<div id="left_id" class="shadow_class">
	<?php
		//2017-1-1添加session的状态判断,避免log中的错误提示
		if(session_status() != PHP_SESSION_ACTIVE)
			session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l01.html";
		require_once($str);
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<?php
		$a=new tb_fs();
		$a->show_header();
		$a->show_body();
		$a->show_tail();
	?>
<!--	<table class='imagetable'><tr><th>aaa</th><th>bbb</th></tr>
	<tr><td>cccc</td><td>dddd</td></tr></table>   -->
	</div>
	</div>
</div>
	<div id="clear_id"></div>
	<div id="container_id">
<?php
require_once("template/03/foot.php");
?>	
	</div>
</body></html>	
