	<div id="left_id" class="shadow_class">
	<?php
		//2017-1-1添加session的状态判断,避免log中的错误提示
		if(session_status() != PHP_SESSION_ACTIVE)
			session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l05.html";
		require_once($str);
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
<?php
		$i=0;
		if(isset($_POST['radio1']))
			$i=$_POST['radio1']-1;
		if($i == 0)
		{
			$a=new tb_fq_mx();
			$a->show_header();
			$a->show_body();
			$a->show_tail();
		}
		else
		{
			$a=new mx_g(3); //废气
			$a->range_xway();
			$a->range_yway();
			if($a->range_ary() < 1)
				die("当前选定的站点没有数据");
			$i=$_COOKIE['screen'];
			if(($i == NULL) || ($i < 100))
				$i=1000;
			$xs=floor($i*0.67);$xy=500;
		    $s1="<img src='core/graph/g01.php' width= ".$xs." height= ".$xy." />";
			echo $s1;
		}
?>	
	</div>
	</div>
</div>
	<div id="clear_id"></div>
	<div id="container_id">
<?php
require_once("template/03/foot.php");
?>	
	</div>
</body></html>	

