body{ text-align:center}
html,body
{width:100%;margin:0;padding:0;background-color:#F3F3F3;
/*font: normal 11px Arial, Helvetica, sans-serif; */
font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
font-size:12px;
color:#444444;
}
select::-ms-expand { display: none; }
/*你麻痹！还有顺序，草草草！所以我讨厌这些脚本式的编程---如果这能叫编程的话。overflow: hidden;*/
a:link,a:visited {color:gray;text-decoration:none}
/*{font-size: 150%;text-decoration:underline;}*/
a:hover {color:blue;}

#a_id:link,
#a_id:visited,
#a_id:hover
{color:blue;font-size: 90%;}
#container_id
{background-color:#F3F3F3;margin:0 auto;padding:0;width:90%;}
#clear_id
{clear:both;}
#allmap
{width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
#header_id
{background: #F3F3F3 ;margin:0 auto;padding:0;float:left;width:40%;height:90px;}
#menu_id
{background-color:#F3F3F3;width:60%;margin:0 auto;padding:20px 0;float:right;}
#menu_id ul li
{margin:0 10px;line-height:30px;display:block;padding:0;float:left;}
.menudiv_class
{width:1px;height:28px;background-color:#999;}
#left_ida
{position:absolute;background-color:#F3F3F3;top:360px;left:5%;width:18.5%;height=500px;margin:0 auto;padding:0 auto;overflow:hidden} /*height:620px*/
#left_idb
{position:absolute;background-color:#F3F3F3;top:400px;left:5%;width:18.5%;height=500px;margin:0 auto;padding:0 auto;overflow:hidden} /*height:620px*/
#left_id
{background-color:#F3F3F3;width:20%;margin:0;padding:10px 5px;float:left;overflow:auto;} /*height:620px*/
#left_id ul li
{margin:0;width:90%;padding:0;} /*hidden,auto,scroll*/
.shadow_class
{border:1px #E0E0E0 solid;box-shadow:5px 5px 8px #636363;}
#right_id
{background-color:#F3F3F3;width:75%;margin:0;padding:0;float:right;} /*height:620px*/
#right_top_aid
{width:100%;margin:0 5px 30px 5px;padding:10px 5px;background-color:#F3F3F3;overflow:auto;} /*height:620px overflow:auto;*/
#right_top_id
{width:100%;height:90%;margin:0 5px 30px 5px;padding:10px 5px;background-color:#F3F3F3;overflow:hidden;} /*height:620px overflow:auto;*/
#right_top_id ul li
{margin:0;padding:0;} /*hidden,auto,scroll*/
/*for table used */
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('./hltb1.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('./hltb2.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
#tdid{
	background:#dcddc0 url('./hltb2.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	color:#ff0000
}

#lmenu_id
{background-color:#F3F3F3;margin:0 auto;padding:4px 0;}
#lmenu_id ul li
{margin:3px 0px;line-height:40px;display:block;padding:0;}
.dvmsg
{
/*	width:120px;  */
	width: 48%;
 	height:20px;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	float:left;
}
.dvmsg1
{
	width: 34%;
 	height:20px;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	float:left;
}
.dvmsg2
{
	width: 38%;
 	height:20px;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	float:left;
}
.dvmsg3
{
	width: 20%;
 	height:20px;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	float:right;
}
.select_style {
/*width:120px; */
width:40%;
height:20px; overflow:hidden; /*background:url(../images/hh2_128.png) no-repeat 215px;*/
border:1px solid #ccc;
/*appearance:none;*/	   
-moz-border-radius: 5px; /* Gecko browsers */
-webkit-border-radius: 5px; /* Webkit browsers */
border-radius:5px;
outline:none;
float:left;
}
.select_style select { 
padding:0px; 
background:transparent; 
width:115%; /*140px;*/
font-size: 12px;
color:#444444; 
border:none; 
height:20px;
-webkit-appearance: none; /*for Webkit browsers*/outline:none;font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
}
.select_style1 {
/*width:120px; */
width:55%;
height:20px; overflow:hidden; /*background:url(../images/hh2_128.png) no-repeat 215px;*/
border:1px solid #ccc;
/*appearance:none;*/	   
-moz-border-radius: 5px; /* Gecko browsers */
-webkit-border-radius: 5px; /* Webkit browsers */
border-radius:5px;
outline:none;
float:left;
}
.select_style1 select { 
padding:0px; 
background:transparent; 
width:115%; /*140px;*/
font-size: 12px;
color:#444444; 
border:none; 
height:20px;
-webkit-appearance: none; /*for Webkit browsers*/outline:none;font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
}
#text1_id
{
	background-color: #F3F3F3;
	overflow:hidden; 
	border:1px #C0C0C0 solid; 
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	height:20px;
/*	width:100px;  */
	width:83%;
}

#text_id
{
	background-color: #F3F3F3;
	overflow:hidden; 
	border:1px #C0C0C0 solid; 
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 12px;
	color:#444444;
	height:20px;
	width:115px;
}
#button_id
{
	background-color: #F3F3F3;
	border: 1px #C0C0C0 solid;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size:12px;color:#444444;
	height:24px;width:60px;
}
.ListButton
{
    display: block;
    cursor: pointer;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 );
        
    color: #333333 !important;
    font: bold 13px Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px #FFFFFF;
    line-height: 15px; 
        
    border: 1px #B7B7B7 solid;
    border-radius: 6px 6px 6px 6px;
    border-width: 1px; 
    box-shadow: 0 0 0.1em 1px rgba(255, 255, 255, 0.867) inset;

    overflow: visible;
    text-decoration: none;	
}
.ListButton:hover
{
    background: rgb(235,235,235);
    background: -moz-linear-gradient(top,  rgba(235,235,235,1) 0%, rgba(170,170,170,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(170,170,170,1)));
    background: -webkit-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(170,170,170,1) 100%);
    background: -o-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(170,170,170,1) 100%);
    background: -ms-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(170,170,170,1) 100%);
    background: linear-gradient(to bottom,  rgba(235,235,235,1) 0%,rgba(170,170,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#aaaaaa',GradientType=0 );

    color: #222222 !important;
    text-shadow: 0 1px 1px #EEEEEE;
    box-shadow: 0 0 0.1em 1px rgba(255, 255, 255, 0.3) inset;

}
.ListButton
{
    margin: 0 5px 0 0;
    padding: 3px 13px;
    float: left;
}
.ListButton img 
{
    border: 0;
    margin: 0;
    float: left;
    padding: 1px;
}
.ListButton div 
{
    display: block;
    float: left;
    padding: 2px 2px 0 2px;
}
.ListButton div img 
{
    display: block;
    float: left;
    padding: 4px 0px 4px 2px;
}
/*my div*/
#ltab_id{float:left;width:40%;padding:3px;}
#rtab_id{float:right;width:8%;padding:3px;}
/*字段类型头*/
#field_id
{background-color:#F3F300;width:100%;margin:0 auto;padding:0;float:left;}
#field_id ul li
{width:15%;margin:-8px 5px 0 5px;line-height:14px;display:block;padding:0;float:left;}
.field_div
{width:1px;height:12px;background-color:#999;}
#result_id
{background-color:#F3F3F3;width:100%;margin:0 auto;padding:0;float:left;}
#result_id ul li
{width:15%;margin:-8px 5px 0 5px;line-height:14px;display:block;padding:0;float:left;}
/*
<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
</style>

<!-- Table goes in the document BODY -->
<table class="imagetable">
<tr>
	<th>Info Header 1</th><th>Info Header 2</th><th>Info Header 3</th>
</tr>
<tr>
	<td>Text 1A</td><td>Text 1B</td><td>Text 1C</td>
</tr>
<tr>
	<td>Text 2A</td><td>Text 2B</td><td>Text 2C</td>
</tr>
</table>

*/
