<center>当前浏览：废水明晰</center>
<?php
//	$ar=array();
	global $menulnk;
	echo "<form name='form_left4' method='post' action='./".$menulnk[3]."'>";
	$a= new tb_mxleft(3);
	$a->show_header();
	$a->show_body();
	global $arry;
	$a->show_tail();
	$_SESSION['EXCEL_TYPE']=4;
//	echo json_encode($arry,JSON_UNESCAPED_UNICODE);
//	if(function_exists("array_ptoj"))
?>
</form>
<script language="javascript" type="text/javascript"> 
var jary=<?php echo json_encode($arry,JSON_UNESCAPED_UNICODE);?>;
</script>
<script language="JavaScript" src="./css/mychange.js"></script>
<!-- </body></html> -->
