<center>当前浏览：污水厂明晰</center>
<?php
	global $menulnk;
	echo "<form name='form_left6' method='post' action='./".$menulnk[5]."'>";
	$a= new tb_mxleft(2);
	$a->show_header();
	$a->show_body();
	global $arry;
	$a->show_tail();
	$_SESSION['EXCEL_TYPE']=6;
//	echo json_encode($arry,JSON_UNESCAPED_UNICODE);
//	if(function_exists("array_ptoj"))
?>
</form>
<script language="javascript" type="text/javascript"> 
var jary=<?php echo json_encode($arry,JSON_UNESCAPED_UNICODE);?>;
</script>
<script language="JavaScript" src="./css/mychange.js"></script>

<!-- </body></html> -->
