googlemap/gis_hb/images
tin16/bbb/bof3_pic
tin16/bbb/bof4_pic
tin16/ccc/images
tin16/ddd/ff6_images
tin16/eee/ff2_images
tin16/fff/ff3_images
tin16/ggg/ff4_images
tin16/ddd/ff6/ff6image
tin16/hhh/pic
tin16/iii/gonglve
tin16/iii/pic1
tin16/jjj/pic
tin16/jjj/images
tin16/jjj/walkm2
tin16/kkk/tuwen
tin16/kkk/images
tin16/lll/120810
tin16/lll/121214
tin16/mmm/allimg
tin16/nnn/171011
t01
huili/test
huili/images
huili/temp
tools/js_learn/upload
huili/callback/upload
huili/documents/upload
tin16/mm4/wp-content

