<style type="text/css">
body{background-color:white;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-align:center}
.align-center{
	margin:10 auto;		/* 居中 这个是必须的，，其它的属性非必须 */
	width:200px;		/* 给个宽度 顶到浏览器的两边就看不出居中效果了 */
	background:white;		/* 背景色 */
	text-align:center; 	/* 文字等内容居中 #292929 */
	font-size:12px;
}
.aaaa { width:100%; border:0px ; margin:0px auto; padding:0px; font-size:12px; background:white}
</style>
<!--弹出菜单-->
<style type="text/css">
/* common styling */
/* set up the overall width of the menu div, the font and the margins */
/*每个菜单的长度为125px，所以下面width的值应为菜单数x125,6x125=750px*/
.menu {
font-family: arial, sans-serif; 
width:750px; 
margin:0; 
margin:5px 0;
}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu ul {
padding:0; 
margin:0;
list-style-type: none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.menu ul li {
float:left; 
position:relative;
}
/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */
.menu ul li a, .menu ul li a:visited {
display:block; 
text-align:center; 
text-decoration:none; 
width:124px; 
height:27px; 
color:#000; 
border:1px solid #fff;
border-width:1px 1px 0 0;
background:#c9c9a7; 
line-height:27px; 
font-size:11px;
}
/* make the dropdown ul invisible */
.menu ul li ul {
display: none;
}
/* specific to non IE browsers */
/* set the background and foreground color of the main menu li on hover */
.menu ul li:hover a {
color:#fff; 
background:#b3ab79;
}
/* make the sub menu ul visible and position it beneath the main menu list item */
.menu ul li:hover ul {
display:block; 
position:absolute; 
top:28px; 
left:0; 
width:125px;
}
/* style the background and foreground color of the submenu links */
.menu ul li:hover ul li a {
display:block; 
background:#faeec7; 
color:#000;
}
/* style the background and forground colors of the links on hover */
.menu ul li:hover ul li a:hover {
background:#dfc184; 
color:#000;
}
</style>

