/*
Maintained and developed by BrokenThorn Entertainment Co. Copyright 2007 BrokenThorn Entertainment Co.
All Rights and Permissions Reserved by BrokenThorn Entertainment Co.
*/

/* Original developer Copyright 2007 Greg Jarzab . Could not have done this without him! */

/* Bug fix: Fixed footer in page section that caused it to scale incorrecty*/


html
{
	/*height:100%;*/
	overflow:none;
}

body
{
	width:100%;
	margin:0px;
	background-image:url(images/page_tile.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;

}
 
#header
{
        margin-left:0em;
	background-image:url(images/header_tile.png);
	background-repeat:repeat-x;
}


#ad_main
{
        margin-left:0em;
        margin-top:-10px;
	background-image:url(images/header_tile.png);
	background-repeat:repeat-x;
}

#search
{
	margin-right:5px;
	margin-top:5px;
	overflow:none;
	background-image:url(images/article_fill.png);
}


#menu
{
	text-align: center;
	float:top;
	margin-left:0em;
}

#menu .section
{
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	padding-bottom:5px;
	background-image:url(images/article_fill.png);
	width:100%;
}

#menu .section h1
{
	background-color:#CCCCCC;
	padding-left:1em;
	padding-right:1em;
	font-size:90%;
}

.section a
{

	text-decoration:none;
/*	display:block;*/
	font-size:60%;
	color:#333333;
	margin-top:5px;
	margin-left:5px;
}

.section a:hover
{
	background-color:#FFFFFF;
}

.standards a
{
	margin-top:0.8em;
	/**display:block;**/
}

#page
{
	margin-top:5em;
	margin-left:10em;
	padding-left:1em;
	padding-right:3em;
	border-left:1px solid #666666;
	height:100%; 
	width:80%; 
}

.article
{
	border:1px solid #666666;
	font-size:80%;
	margin-top:1em;
	padding:1em;
	width:85%;
	line-height:125%;
	background-image:url(images/article_fill.png);
	overflow:none;
}

.article a
{
	/*text-decoration:none;*/
	color:#0000FF;
}

.article h1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	border-bottom:1px solid #666666;
}

.article:hover {
/* 128,128,255 */
	background:#ccccff;
}

#footer
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;
	height:25px;
	position:relative;
	text-align:center;
	padding:1em;
	overflow:none;
}

#footer a
{
	text-decoration:none;
	color:#0000ff;
}
/*
input, textarea, select {
	color: #000000;
	font-size:14px;
	border-color: #000000;
	border-width: 1px;
}
*/
