.ff9 {font-family:"YaHei Consolas Hybrid",Georgia,simsun,MS Gothic,Arial;}
.ff9 a:link{color:#369;text-decoration:none;}
.ff9 a:visited{color:#369;text-decoration:none;}
.ff9 a:hover{color:#f06;text-decoration:underline;}


 
 .intro_table {
	margin:15px auto;
	padding:6px;
	border:#444 1px dotted;
	background:#F2F6F9;
	text-align:left;
	line-height:16px;
	width:450px;
	font-family:"YaHei Consolas Hybrid",Georgia,simsun,MS Gothic,Arial;
	font-size: 9pt;
} 
	
.table_default{
	font-size:9pt;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	margin:10px;
	border-left:1px solid #C6D3E0;
    border-top:1px solid #C6D3E0;
	width: 60%;}

.table_default td{font-family:"YaHei Consolas Hybrid",Georgia,simsun,MS Gothic,Arial;
	width:60%;
    border-bottom:1px solid #C6D3E0;
    border-right:1px solid #C6D3E0;
    padding:2px;}
	
.table_center{
	font-size:9pt;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	text-align: center;
	margin:10px;
	border-left:1px solid #C6D3E0;
    border-top:1px solid #C6D3E0;
	width: 650px;
}
.table_center td{font-family:"YaHei Consolas Hybrid",Georgia,simsun,MS Gothic,Arial;
    border-bottom:1px solid #C6D3E0;
    border-right:1px solid #C6D3E0;
    padding:2px;}
	
.Table1{
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,Arial;
	font-size: 9pt;
	width: 60%;
	line-height: 18px;
	border: 1px dashed #069;
	margin:10px;}
	
.Table2{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #B8CDE0;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 12px;
	width: 60%;
	line-height: 18px;
	font-weight: bold;
	background-color: #F2F6F9;
	border-bottom-width: 1px;}

.Table3{
	font-size:9pt;
	width: 60%;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #B8CDE0;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	border-left-width: 0px;}
	
.Table4 {
	font-size:9pt;
	width: 60%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,,simsun,MS Gothic,Arial;
	border-left-width: 0px;
	}
	
.Table5{
	font-size:9pt;
	width: 60%;
	border-top-width: 0px;
	border-bottom-style: dashed;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #B8CDE0;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	border-left-width: 0px;
	color: #666666;
}

.table05_noline{
	font-size:9pt;
	border-top-width: 0px;
	border-bottom-style: dashed;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	line-height: 18px;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	border-left-width: 0px;
	color: #666666;
}
	
.Table6{
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 12px;
	width: 60%;
	color:#666666;
	vertical-align: middle;
	line-height: 15px;
	border: 1px solid #CCCCCC;}
	
.Table7{
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 12px;
	width: 60%;
	vertical-align: middle;
	line-height: 18px;
	border-top: 0px none #993300;
	border-right: none #993300;
	border-bottom: 1px solid #993300;
	border-left: 10px solid #993300;
	margin: 5px;
	color: #993300;
	padding:5px;

}

.table07_noline{
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 12px;
	vertical-align: middle;
	line-height: 18px;
	border-top: 0px none #993300;
	border-right: none #993300;
	border-bottom: 0px;
	border-left: 0px;
	color: #993300;
}
	
.cell1{background:#F8F8E6;}
.cell2{background:#F2F6F9;}
.cell3{background:#f6f6f6;}
.cell4{background:#ffffff;}
.cell5{
	background:#699CC7;
	color: #FFFFFF;}
.cell9{
	background:#adb056;
	color: #FFFFFF;}
.cell10{
	background:#993300;
	color: #FFFFFF;}
.cell6 {
	color: #CC3300;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 9pt;
}
.cell7 {
	color: #000000;
	font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	font-size: 36px;
	font-weight: bolder;
	line-height: 55px;
}
.cell8{background: #CCCCCC;}

 .shadow_01{
	font-size:9pt;
	color:#000000;
    font-family:"YaHei Consolas Hybrid", Georgia,simsun,MS Gothic,Arial;
	text-align:center;
	border-left:1px solid #C6D3E0;
    border-top:1px solid #C6D3E0;
    width:60%
	}
	
.shadow_01 td{font-family:"YaHei Consolas Hybrid",Georgia,simsun,MS Gothic,Arial;
    border-bottom:1px solid #C6D3E0;
    border-right:1px solid #C6D3E0;
    padding:2px;}
	
	
.table_underline {
   	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	font-size: 9pt;
	line-height: 16px;
	color: #999;
}

#content p{margin: 14px 0;}
