#ff9tw {
  font-size:18px;
}
#ff9tw a {
  COLOR:#369;font-family: Georgia,MS Gothic,Arial,"宋体"; TEXT-DECORATION: none;
}
#ff9tw a:hover {
  COLOR:#f06;font-family: Georgia,MS Gothic,Arial,"宋体"; TEXT-DECORATION: underline;
}
.intro {
  width: 300px;
  border:1px solid #789;
  text-align:center;
  font-size:13px;
  background:#eee;
  font-family: "YaHei Consolas Hybrid",Verdana,MS Gothic,Arial,"宋体";
}
.intro .ititle {
  color:#fff;
  background:#369;
  border:1px solid #eee;
  padding-top:3px;
  padding-bottom:2px;
  line-height:100%;
  font-family: "YaHei Consolas Hybrid",Verdana,MS Gothic,Arial,"宋体";
}
.intro th {
  background:#daebf3;
  color:#c30;
  width:60px;
  font-size:13px;
  text-align:center;
  font-weight:normal;
  border-right:1px dotted #369;
  border-top:1px dotted #369;
  padding-top:2px;
}
.intro td {
  background:#fff;
  border-top:1px dotted #369;
  padding-left:2px;
  font-family: "YaHei Consolas Hybrid",Verdana,MS Gothic,Arial,"宋体";
}
.tw {
  border:2px dotted #abd;
  width:70%;
  margin:10px 0px 20px 0px;
  background:#f6f6f6;
}
.tw th{
  width:199px;
  vertical-align:top;
  padding:2px;
}
.tw td {
  border:1px dotted #ccc;
  padding-left:3px;
  padding-top:2px;
  text-align:left;
  font-size:13px;
  vertical-align:middle;
  line-height:120%;
  background:#fff;
  font-family: "YaHei Consolas Hybrid",Verdana,Arial,"宋体";
}
.tw img {
  padding:1px;
  border:1px solid #333;
  background:#fff;
}
.item {
  color:#f30;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.location {
  color:#0c0;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.character {
  color:#00f;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.monster {
  color:#33f;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.magic {
  color:#3cf;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.card {
  color:#0c0;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.other {
  color:#999;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.choose {
  font-weight:bold;font-family:"YaHei Consolas Hybrid",Georgia,MS Gothic,Arial,"宋体";
}
.twlink {
  padding:20px;
  display:inline;
}
.excel {
  border:1px dotted #69c;
  background:#efe;
  width:97%;
  padding:2px;
  margin:2px;
  text-align:center;
}
