/* CSS Monster-ff9 */
.ff9 {font-family:Georgia,simsun,MS Gothic,Arial;}
.ff9 a:link{color:#369;text-decoration:none;}
.ff9 a:visited{color:#9bc;text-decoration:none;}
.ff9 a:hover{color:#f06;text-decoration:underline;}

.bg{background:#DAEBF3;}
.bg2{
	background:#069;
	color: #FFFFFF;
}
.table_center{
	font-size:9pt;
	line-height: 20px;
	font-family: Georgia,simsun,MS Gothic,Arial;
	text-align: center;
	border-left:1px solid #057;
    border-top:1px solid #057;
	margin: auto;
	}
.table_center td{font-size:9pt;
	line-height: 20px;
	font-family:Georgia,simsun,MS Gothic,Arial;
    border-bottom:1px solid #057;
    border-right:1px solid #057;
	padding: 0px 1px 0px 2px
	   }
	   
.table_center2{
	font-size:9pt;
	line-height: 15px;
	font-family: Georgia,simsun,MS Gothic,Arial;
	text-align: center;
	border-left:1px solid #057;
    border-top:1px solid #057;
	}
.table_center2 td{font-size:9pt;
	line-height: 15px;
	font-family:Georgia,simsun,MS Gothic,Arial;
    border-bottom:1px solid #057;
    border-right:1px solid #057;
	padding: 0px 1px 0px 2px
	   }

