html, body, #header h1, #nav, #nav ul, #comment h2, #comment ol, #comment h3, #comment p, .comment-page, #footer p {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	text-align: center;
	font: 12px/1.6 "Verdana", "Arial", "Helvetica", "sans-serif";
	background: #fff url(css/ff6bg.gif) repeat;
	color: #000;
}
#wrapper {
	width : 960px;
	min-height: 100%;
	margin: auto;
	text-align: left;
	background: #fff url(css/ff6sidebar.gif) repeat-y left;
}


#header {
	height: 60px;
	width: 760px;
	float: right;
	margin-right: 22px;
	display: inline;
	position: relative;
	text-align: center;
}
#header h1 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: normal;
	position: absolute;
	text-align: left;
	bottom: -60px;
	left: 0;
	color: #003366;
}
#header img {
	display: block;
	margin: auto;
}
#out-content {
	padding: 0 0 70px;
}
#out-content:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}
* html #out-content {
	height: 1%;
}
#info {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 3.0;
	text-align: center;
	color: #990000;
}
#navbar {
	float: left;
	background: url(css/ff6think.gif) no-repeat center top;
	width: 153px;
	padding-top: 220px;
	margin-left: 2px;
	display: inline;
	position: relative;
	top: -60px;
	font-size: 12px;
}
#nav, #nav ul {
	list-style: none;
	background: none;
	text-align: center;
}
#nav {
	background: url(http://www.ffsky.cn/s/i/classic/dot.gif) repeat-x bottom;
	padding-bottom: 1px;
}
#nav li a {
	color: #000;
	text-decoration: none;
	display: block;
	width: 100%;
}
#nav strong {
	display: block;
	width: 100%;
	color: Red;
	font-weight: normal;
}
#nav .current ul a {
	background-image: none;
	color: #000000;
	background-color: #FFFFFF;
	font-weight: lighter;
}
#nav a:hover{
	background-image: url(css/ff6hit.gif);
	background-repeat: no-repeat;
	background-position: 25px 2px;
	color: #000000;
	background-color: #FFFFFF;
}

#nav .current a {
	font-weight: bold;
	background-image: url(css/ff6hit.gif);
	background-repeat: no-repeat;
	background-position: 25px 2px;
	background-color: #FFFFFF;
}

#nav .current ul a:hover {
	background-color: #FFFFFF;
	background-image: url(css/ff6hit.gif);
	background-repeat: no-repeat;
	background-position: 25px 2px;
	color: #000000;

}

#nav li {
	background: url(http://www.ffsky.cn/s/i/classic/dot.gif) repeat-x top;
	position: relative;
	padding-top: 1px;
}
#nav li li {
	background-color: #FFFFFF;
	font-weight: lighter;
}

#nav ul {
	background: none;
}
#content-box {
	float: right;
	width: 760px;
	margin-right: 22px;
	margin-top: 70px;
	margin-bottom: 85px;
	display: inline;
	overflow: visible;
}
#footer {
	height: 54px;
	font: 12px/20px "Verdana", "Arial", "Helvetica", "sans-serif";
	width: 955px;
	background-image: url(css/ff12logo_1.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 100px;
	margin: -155px auto 0;}

#footer a {
	color: #000000;
}
#footer p {
	padding-left: 153px;
}
.skip {
	display: none;
}
/* font style */
#comment {
	font-size: 12px;
	color: #666;
	padding-top: 20px;
}
#comment h2 {
	font-size: 14px;
}
#comment a {
	color: Maroon;
}
#comment ol {
	list-style: none;
}
#comment ol li {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px;
}
#comment h3 {
	font-size: 12px;
	display: inline;
}
.comment-time {
	display: inline;
	margin-left: 24px;
}
.comment-page {
	text-align: right;
}

#searchForm {
	font-size: 12px;
	text-decoration: none;
	margin-top: 5px;
}
#Submit1 {
	font-size: 12px;
	text-decoration: none;
	background-color: #F9F9F9;
	border: 1px solid #ccc;
	width:100px;
	margin-top: 5px;
}
#keyword {
	border: 1px solid #ccc;
	width:70px;
}
#SAREA{
	font-size: 12px;
	}