.ff6 a:link {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #369;
	text-decoration: none;
}
.ff6 a:visited {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #369;
	text-decoration: none;
}
.ff6 a:hover {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #f06;
	text-decoration: underline;
}
.ff6 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px
}
.table_default {
	font-size: 12px;
	line-height: 18px;
	border-left: 1px solid #8ac;
	border-top: 1px solid #8ac;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 16px;
}
.table_default td {
	border-bottom: 1px solid #8ac;
	border-right: 1px solid #8ac;
	padding: 1px 4px;
}
.table_default td.dashed, .table_default tr.dashed td {
	border-bottom-style: dashed;
}
.table_default tr.dashed td.solid {
	border-bottom-style: solid;
}
.table_default tr.dashed td.vanish {
	border-left: 1px solid #FFF;
}
.cell1 {
	background: #FFEEEE
}
.cell2 {
	background: #E7F1FF;
}
.cell3 {
	background: #f6f6f6;
}
.cell4 {
	background: #f6f6f6;
	font-weight: bold;
}
.cell5 {
	background: #E7F1FF;
	font-weight: bold;
}
.cell6 {
	color: #800000;
	font-weight: bold;
}
.cell7 {
	color: #003366;
	font-weight: bold;
}
.cell8 {
	color: #999999;
}
.cell9 {
	background: #F2F6F9
}
.table_noline {
	font-size: 12px;
	line-height: 18px;
	color: #999;
}
.switch {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: xx-small;
}
.table_underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	color: #999999;
}
.table_zhaoce {
	font-size: 12px;
	line-height: 18px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 16px;
}
.default_table {
	border-collapse:collapse;
	line-height:16px;
	width:100%;
	margin:auto;
}
.default_table th, .default_table td {
	border:1px solid #8AC;
	padding:1px;
}
.default_table th {
	background-color:#E7F1FF;
}