html,body
{width:100%;margin:0;padding:0;background-color:#F3F3F3;
/*font: normal 11px Arial, Helvetica, sans-serif; */
font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
font-size:14px;
color:#444444;
}
#clear
{clear:both;}
/*ul li{list-style-type:none;} */
div{text-align:center;}
.aas_class
{background-color:#F3F3F3;margin:auto;padding:0;width:30%;}
.dvmsg
{
	margin: auto;
	padding: 0;  
	width: 40%;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 16px;
	color:#444444;
}
#text_id
{
	background-color: #F3F3F3;
	margin: 3px  auto;
	padding: 0 auto;
	overflow:hidden; 
	border:1px #C0C0C0 solid; 
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size: 14px;
	color:#444444;
	height:24px;
	width:78%;
	float:left;
}
#button_id
{
	background-color: #F3F3F3;
	border: 1px #C0C0C0 solid;
	font-family: "YaHei Consolas Hybrid",verdana,arial,sans-serif;
	font-size:14px;color:#444444;
	height:24px;width:60px;
}

