html, body, #header h1, #nav, #nav ul, #comment h2, #comment ol, #comment h3, #comment p, .comment-page, #footer p {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	text-align: center;
	font: 12px/1.6 Simsun, Verdana, sans-serif;
	background: #fff url(http://www.ffsky.cn/s/i/classic/bg.gif) repeat;
	color: #000;
}
#wrapper {
	width : 960px;
	min-height: 100%;
	margin: auto;
	text-align: left;
	background: #fff url(http://www.ffsky.cn/s/i/classic/sidebar.gif) repeat-y left;
}
* html #wrapper {
	height: 100%;
}
#header {
	height: 60px;
	width: 760px;
	float: right;
	margin-right: 22px;
	display: inline;
	position: relative;
	text-align: center;
}
#header h1 {
	font-size: 14px;
	line-height: normal;
	position: absolute;
	text-align: left;
	bottom: -60px;
	left: 0;
	color: Red;
}
#header img {
	display: block;
	margin: auto;
}
#out-content {
	padding: 0 0 70px;
}
#out-content:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}
* html #out-content {
	height: 1%;
}
#info {
	line-height: 3;
	text-align: center;
}
#navbar {
	float: left;
	background: url(http://www.ffsky.cn/s/i/classic/think2.jpg) no-repeat center top;
	width: 153px;
	padding-top: 165px;
	margin-left: 2px;
	display: inline;
	position: relative;
	top: -60px;
	font-size: 12px;
}
#nav, #nav ul {
	list-style: none;
	background: #EFF7FF;
	text-align: center;
}
#nav {
	background: #EFF7FF url(http://www.ffsky.cn/s/i/classic/dot.gif) repeat-x bottom;
	padding-bottom: 1px;
}
#nav li a {
	color: #000;
	text-decoration: none;
	display: block;
	width: 100%;
}
#nav strong {
	display: block;
	width: 100%;
	color: Red;
	font-weight: normal;
}
#nav .current ul a {
	background: #F9F9F9;
}
#nav a:hover, #nav .current a, #nav .current ul a:hover {
	background: #A0C1D5;
}
#nav li {
	background: url(http://www.ffsky.cn/s/i/classic/dot.gif) repeat-x top;
	position: relative;
	padding-top: 1px;
}
#nav li li {
	background-color: #FFFFFF;
	font-weight: lighter;
}
#nav ul {
	background: #F9F9F9;
}
#content-box {
	float: right;
	width: 760px;
	margin-right: 22px;
	margin-top: 70px;
	margin-bottom: 85px;
	display: inline;
	overflow: visible;
}
#footer {
	height: 54px;
	font: 12px/20px Verdana, Simsun, sans-serif;
	margin: -54px auto 0;
	width : 955px;
	background: url(http://www.ffsky.cn/s/i/classic/logo_1.gif) no-repeat left bottom;
}
#footer a {
	color: #000;
}
#footer p {
	padding-left: 153px;
}
.skip {
	display: none;
}
/* font style */
#comment {
	font-size: 12px;
	color: #666;
	padding-top: 20px;
}
#comment h2 {
	font-size: 14px;
}
#comment a {
	color: Maroon;
}
#comment ol {
	list-style: none;
}
#comment ol li {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px;
}
#comment h3 {
	font-size: 12px;
	display: inline;
}
.comment-time {
	display: inline;
	margin-left: 24px;
}
.comment-page {
	text-align: right;
}
