.nav-organizations .shareblock-headz{background-color:transparent;border-top:none;padding:15px 26px;display:flex;align-items:center;justify-content:space-between}
.nav-organizations .shareblock-headz h4{margin:0;margin-bottom:4px;font-size:1em}
.nav-organizations .shareblock-headz .btn-shareaccount{position:static;transform:none}
.shareblock-headz{background-color:rgba(240,242,245,.5);padding:12px;padding-left:50px;padding-right:150px;border-top:1px solid rgba(0,0,0,.1);border-bottom:1px solid rgba(0,0,0,.1);position:relative}
.shareblock-headz .btn-shareaccount{position:absolute;right:15px;top:50%;transform:translateY(-50%)}
.shareblock-headz .share-picto{font-size:26px;opacity:.56;position:absolute;left:15px;top:50%;transform:translateY(-50%)}
.shareblock-headz .shareblock-account{font-size:15px}
.shareblock-headz .shareblock-account .light{opacity:.55;font-size:.8em;text-transform:uppercase}
.shareblock-headz-light{background-color:rgba(240,242,245,.25);padding-left:12px;border-top:none}
.shareblock-headz-light .btn-shareaccount{right:6px}
.shareblock-headz-lightweight{background-color:transparent;padding:6px 12px}
.list-accounta>li.collapse{display:none}
//.list-accounta>li{border:0px;margin-top:-1px;padding:8px 20px;transition:all .2s}
//.list-accounta>li.collapse{border-top-color:#fff}
//.list-accounta>li.disabled{border-left:4px solid #e3e8e8}
//.list-accounta>li.disabled>*{opacity:.45}
.list-accounta>li p{margin:0;line-height:1.1em}
.list-accounta>li .desc{font-size:1em;opacity:.65;margin-top:2px}
.list-accounta>li>.avatar{margin-bottom:8px}
.list-accounta>li>.account-status{width:auto;font-size:.9em;}
.list-accounta>li>.account-action{padding-top:10px}
.list-accounta .circle{width:52px;height:52px;background-color:#f2f2f2;overflow:hidden;vertical-align:middle}
.list-accounta .circle img{width:100%;height:auto}
@media only screen and (min-width:768px){list-accounta>li>.list-security{display:block}.list-security>li{display:table;width:100%}.shareblock-headz{padding:12px 18px;display:flex;}}
@media only screen and (min-width:480px){.list-accounta>li{display:table;width:100%}.list-accounta>li.disabled{border-left:4px solid #e3e8e8}.list-accounta>li.disabled>*{opacity:.45}.list-accounta>li>*{display:table-cell;vertical-align:middle}.list-accounta>li>.avatar{width:65px}.list-accounta>li>.vendor-info{width:130px}.list-accounta>li>.account-info{width:45%}.list-accounta>li>.account-status{width:auto;font-size:.9em;}.list-accounta>li>.account-action{text-align:right;padding-top:0}}

.blog-img{border-radius:3px;overflow:hidden;width:70%;margin:auto;}
.blog-img img{width:100%;height:auto;}
