
.searchbar{display:flex;padding-top:7px}
.searchbar-advanced{display:none;margin-top:-4px}
.searchbar-advanced p{margin:0;font-size:.9em}
.searchbar-advanced>*{flex:1 1 auto}
.searchbar-advanced .btn-text{font-size:.9em;text-align:right}
.searchbar-search{flex:1 1 auto}
.searchbar-search .form-group{position:relative;max-width:400px;transition:.3s ease-out}
.searchbar-search .form-group.active{max-width:100%}
.searchbar-search .btn-search{position:absolute;right:0;top:0;padding:13px 12px;font-size:12px;background-color:transparent;color:#3EAE48;text-transform:uppercase}
.searchbar-search .btn-search:hover{color:#26363E}
.searchbar-dates{flex:0 0 auto;width:230px;padding-left:12px}
.form .searchbar-dates .form-control{font-size:13px}
.searchbar-filters{flex:0 0 auto;width:140px;padding-left:12px}
.form .searchbar .form-control{height:38px}
@media only screen and (max-width: 767px){.searchbar{flex-direction:column}.searchbar-search .form-group{max-width:inherit}.searchbar-dates{width:auto;padding-left:0;display:none}.searchbar-filters{width:auto;padding-left:0;padding-bottom:10px;display:none}.search-stats{flex-direction:column;text-align:center;padding-top:5px}.search-stats .search-stats-ctrl{text-align:center;padding-top:4px}.search-resultsinfo{display:none}.searchbar-advanced{display:flex}}
.searchbar-search .form-group{max-width:none}
.form .searchbar-dates .form-control,.form .searchbar-search .form-control,.form .searchbar-filters .form-control{font-size:14px}
.form .searchbar-filters .form-control{cursor:default}
.searchbar-filters .badge{position:absolute;left:calc(100% - 50px);top:10px;margin-left:4px;border-radius:50%;background-color:#3EAE48;font-size:14px;font-weight:700;color:#fff}
.searchbar-spinner{margin-top:-4px}
.form-prefix .caret{position:absolute;right:8px;top:50%;transform:translateY(-50%);opacity:.5}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175)}
.dropdown-menu.pull-right{right:0;left:auto}
.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{color:#777}
.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.open>.dropdown-menu{display:block}
.open>a{outline:0}
.dropdown-menu-right{right:0;left:auto}
.dropdown-menu-left{right:auto;left:0}
.pull-right>.dropdown-menu{right:0;left:auto}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:2px}
@media (min-width: 768px){.navbar-right .dropdown-menu{right:0;left:auto}.navbar-right .dropdown-menu-left{right:auto;left:0}}
.btn-group-justified>.btn-group .dropdown-menu{left:auto}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}
.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
@media (max-width: 767px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:20px}.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}}
.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-left-radius:0;border-top-right-radius:0}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}
@media (max-width: 767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}}
@media (max-width: 767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}}
.dropdown-menu{border-radius:4px;padding:0;border-color:#D3DCDC}
.dropdown-menu>li>a{padding:14px 20px;text-align:left;font-weight:700;color:#455F6C}
.dropdown-menu>li>a:hover{background-color:#F9FBFB}
.dropdown-menu>li:first-child>a{border-top-left-radius:5px;border-top-right-radius:5px}
.dropdown-menu>li:last-child>a{border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.dropdown-menu>li:not(:first-child)>a{border-top:1px solid rgba(0,0,0,0.1)}
.dropdown-menu .divider{margin:4px 0}
.dropdown-menu-alerts{width:390px;box-shadow:0 10px 18px rgba(0,0,0,0.12)}
.dropdown-menu-alerts .dropdown-menu-head{display:flex;padding:25px 30px;padding-bottom:10px}
.dropdown-menu-alerts .dropdown-menu-head>*{flex:1 1 auto}
.dropdown-menu-alerts .dropdown-menu-head p{color:rgba(69,95,108,0.5);font-size:13px;margin:0}
.dropdown-menu-stats{text-align:right}
.dropdown-menu-alerts .dropdown-menu-body{max-height:300px;overflow-y:auto;padding:8px 30px}
.dropdown-menu-alerts .dropdown-menu-foot{padding:15px 30px;padding-top:0;text-align:right}
.dropdown-menu-alerts .dropdown-menu-foot .btn-text{padding-left:12px;font-size:1.05em;font-weight:700}
.dropdown-menu-alerts .dropdown-menu-foot .btn-dismissall{color:rgba(69,96,109,0.65)}
.dropdown-menu-alerts .dropdown-menu-foot .btn-dismissall:hover{color:#45606d}
.user-menu.user-menu-side .dropdown-menu{position:fixed;left:auto;right:0;top:172px;bottom:0;width:220px;border-radius:0;box-shadow:none;border:none;background-color:#fff;margin-top:-1px}
.user-menu .dropdown-menu{width:280px;border-radius:4px;padding-bottom:98px}
.user-menu .dropdown-menu p{margin:0;line-height:1.2em}
.dropdown-menu-filters{width:350px}
.dropdown-menu-filters .dropdown-menu-head{padding:15px 30px;padding-bottom:8px}
.dropdown-menu-filters .dropdown-menu-body{padding:20px 30px;padding-top:8px}
.form .dropdown-menu-filters .form-control{height:34px}
.form .dropdown-menu-filters .form-group>label{text-transform:none;padding-top:10px;font-size:13px}
.dropdown-menu-filters .btn-group>.btn{height:34px;padding:4px 10px}
.topuser .dropdown-menu{left:auto;right:0;width:100%;margin-top:16px;border-radius:4px}
.topuser .dropdown-menu:before{content:"";display:inline-block;position:absolute;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:8px solid #fff;right:6px;top:-8px}
.drop-share .dropdown-menu{width:100%;right:0;left:auto}
.drop-share .dropdown-menu [class^="icon-"]{color:rgba(0,0,0,0.35);margin-right:12px}
.filters .dropdown-menu{left:auto;right:0}
@media screen and (max-width: 600px){.dropdown-menu-alerts{width:calc(100vw - 24px)}.header-actions{margin-top:-7px}}
@media screen and (max-width: 360px){.dropdown-alerts{flex:0 0 auto}.dropdown-menu-alerts .dropdown-menu-head{padding:15px 17px;padding-bottom:8px}.dropdown-menu-alerts .dropdown-menu-body{padding:6px 17px}.notification-title p:not(.small){font-size:.92em}}
.btn-group{display:flex;border:1px solid rgba(0,0,0,0.1);border-radius:3px}
.btn-group>*{flex:1}
.btn-group>.btn{background-color:#ECF2EE;border:none;color:rgba(69,95,108,0.6);font-size:1em}
.btn-group>.btn:hover{background-color:#F7F9F8;color:rgba(69,95,108,0.9)}
.btn-group>.btn:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;border-left:1px solid rgba(0,0,0,0.06)}
.btn-group>.btn:first-child{border-top-right-radius:0;border-bottom-right-radius:0}
.btn-group>.btn.active{background-color:#fff;box-shadow:none;color:#3EAE48;box-shadow:inset 0 -2px 0 #3EAE48}
.order-empty{padding:0 4px}

