@font-face {
  font-family: 'icomoon';
  src:  url('/huili/fonts/icomoon.eot?ajhegk');
  src:  url('/huili/fonts/icomoon.eot?ajhegk#iefix') format('embedded-opentype'),
    url('/huili/fonts/icomoon.ttf?ajhegk') format('truetype'),
    url('/huili/fonts/icomoon.woff?ajhegk') format('woff'),
    url('/huili/fonts/icomoon.svg?ajhegk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hipchat:before {
  content: "\e900";
  color: #e21a2c;
}
.icon-quickbooks:before {
  content: "\e901";
}
.icon-quickbook-short:before {
  content: "\e902";
}
.icon-home-depot:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e905";
}
.icon-prev:before {
  content: "\e906";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-download:before {
  content: "\f019";
}
.icon-sync:before {
  content: "\f021";
}
.icon-lock:before {
  content: "\f023";
}
.icon-book:before {
  content: "\f02d";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-checkmark:before {
  content: "\f046";
}
.icon-chevron_left:before {
  content: "\f053";
}
.icon-chevron_right:before {
  content: "\f054";
}
.icon-arrow_left:before {
  content: "\f060";
}
.icon-arrow_right:before {
  content: "\f061";
}
.icon-arrow_up:before {
  content: "\f062";
}
.icon-arrow_down:before {
  content: "\f063";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-key:before {
  content: "\f084";
}
.icon-check_empty:before {
  content: "\f096";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-envelope_alt:before {
  content: "\f0e0";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-arrow:before {
  content: "\f179";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-joomla:before {
  content: "\f1aa";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-tqq:before {
  content: "\f1d6";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-cchat:before {
  content: "\f262";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
